<div class="switch" slimscroll="{slimscrollOption: height='100%'}" ng-controller="ClientsCtrl">

    <div class="row">

        <div class="container filters">

            <div class="box-100">
                <div class="filters-holder right-align mob-one-line">
                    <div class="item">
                        <span class="filter-btn" ng-click="toggle = !toggle; sortBy('name')" ng-class="{'active' : toggle}">client name</span>
                        <span class="sortorder" ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span>
                    </div>
                    <div class="item">
                        <span class="filter-btn" ng-click="toggle2 = !toggle2" ng-class="{'active' : toggle2}">stats</span>
                    </div>
                    <div class="item">
                        <span class="filter-btn" ng-click="toggle3 = !toggle3; sortBy('trending')" ng-class="{'active' : toggle3}">trending</span>
                        <span class="sortorder" ng-show="propertyName === 'trending'" ng-class="{reverse: reverse}"></span>
                    </div>
                </div>

            </div>

        </div>

    </div>


    <div class="row">

        <div class="container clients">

            <div class="box-100">

                <div class="intro-1">
                    <h2 class="title icon-star">Active Clients</h2>
                </div>

            </div>

        </div>

    </div>

    <div class="row bg-grey">

        <div class="container">

            <div class="box-25" ng-repeat="row in clients | orderBy:propertyName:reverse">
                <div class="content module-1 link">

                    <div class="action">

                        <div class="icon-info arrow-down {{row.class}}"></div>

                        <div class="icon-b1 interaction"></div>

                    </div>
                    <div class="trending visualhidden">{{row.trending}}</div>

                    <div class="thumb">

                        <img src="{{row.src}}"/>

                    </div>

                    <div class="name">{{row.name}}</div>

                    <div class="info-bar">

                        <div class="bar green"></div>

                        <div class="bar red"></div>

                        <div class="bar yellow"></div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
