<div ng-controller="SettingsApiListCtrl">
    <div class="row">
        <div class="box-100">
            <p>Extend Client DX with our available API integrations to these popular services:</p>
        </div>
    </div>
    <div class="row bg-grey">

        <div class="container  no-overflow">

            <div class="box-25" ng-repeat="row in clients">
                <div class="content module-1 link">
                    <a class="link-box" ui-sref="settings.settings-api.settings-api-detail"></a>
                    <div class="icon"></div>

                    <div class="thumb">

                        <img src="{{row.src}}" alt="{{row.name}}"/>

                    </div>

                    <div class="name">{{row.name}}</div>
                    <span class="button-1 grey">connect</span>
                </div>

            </div>

        </div>

    </div>

</div>


