
            <div class="inner" ng-controller="LoginPopCtrl as ctrl">
                <div class="container">
                    <div class="box">
                        <div class="content">
                            <div class="icon-b1 cls icon-close-no-circle pop-2" ng-click="closePopup()"></div>
                            <div class="login-pop-holder">
                                <div class="login-intro">
                                    <div>
                                        <h1 class="title">Clients & Employees: <span>Manage Both in one Place</span></h1>
                                        <p>"The day you start losing a client is the day they sign the contract."</p>
                                    </div>
                                </div>
                                <form class="form" action="#">
                                    <div class="form-holder">
                                        <svg class="image" version="1.1" x="0px" y="0px" viewBox="0 0 67 32">

                                            <path class="d" d="M16.3,7.6C16.3,7.6,16.4,7.6,16.3,7.6L16.3,7.6L16.3,7.6c0.4,0,2.9,0.2,5.1,1.4c1.7,0.9,3.6,2.6,3.6,7.4
            c0,3.2-1.1,5.1-3.6,6.4c-2.3,1.2-4.7,1.5-5.3,1.5H7.6V7.6H16.3 M16.4,0H0v32.1h16.4c0,0,16.3-0.6,16.3-15.6C32.7,0,16.4,0,16.4,0
            L16.4,0z"/>

                                            <g class="x">
                                                <path d="M63.9,17.6L60.5,21l0.6,0.6c1.3,1.3,1.3,3.3,0,4.6s-3.3,1.3-4.6,0l-0.6-0.6l-1.8,1.8c-0.6,0.6-1.4,1-2.2,1.1
                l1.1,1.1c3.2,3.2,8.3,3.2,11.5,0s3.2-8.3,0-11.5L63.9,17.6z"/>
                                                <path class="st0" d="M46.8,25.6l-0.6,0.6c-1.3,1.3-3.3,1.3-4.6,0c-1.3-1.3-1.3-3.3,0-4.6l0.6-0.6l-3.4-3.4l-0.6,0.6
                c-3.2,3.2-3.2,8.3,0,11.5c3.2,3.2,8.3,3.2,11.5,0l1.1-1.1c-0.8-0.1-1.6-0.5-2.2-1.1L46.8,25.6z"/>
                                            </g>

                                            <path class="heart" d="M53.1,2.7l-1.7,1.7l-1.7-1.7c-3.2-3.2-8.3-3.2-11.5,0C35,5.9,35,11,38.2,14.2l11.1,11.1c1.1,1.1,3,1.1,4.1,0
            l11.1-11.1c3.2-3.2,3.2-8.3,0-11.5C61.4-0.5,56.2-0.5,53.1,2.7z M41.6,10.7c-1.3-1.3-1.3-3.3,0-4.6c1.3-1.3,3.3-1.3,4.6,0l4,4
            c0.6,0.6,1.7,0.6,2.3,0l4-4c1.3-1.3,3.3-1.3,4.6,0c1.3,1.3,1.3,3.3,0,4.6l-9.7,9.7L41.6,10.7z"/>

                                        </svg>


                                        <div class="form-group-1">


                                            <div class="form-block-1">
                                                <div class="wrp">
                                                    <input type="text" class="text" placeholder="Email" />
                                                    <span class="icon icon-solid-envelope"></span>
                                                </div>
                                            </div>

                                            <div class="form-block-1" >
                                                <div class="wrp">
                                                    <input type="password" class="text" placeholder="Password"/>
                                                    <span class="icon icon-solid-lock"></span>
                                                </div>
                                            </div>
                                            <div class="form-block-1 cb-holder">
                                                <div  ng-repeat="item in items">
                                                    <md-checkbox id=" {{ item.id }}" ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                                                        {{ item.label }}
                                                    </md-checkbox>
                                                </div>
                                            </div>

                                            <div class="form-block-1">
                                                <input type="submit" class="button-1" value="login">
                                            </div>
                                            <div class="form-block-1 center footer-group">
                                                <p><a href="#"><span>not a CDX user? sign up today!</span></a></p>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
