<div ng-controller="SettingsSurveyCtrl">

    <div class="form survey">
        <div class="form-block-1">
            <label for="type">Confirmation Page Title</label>
            <input type="text" id="type" placeholder="Type"/>
        </div>
        <div class="form-block-1">
            <label>Confirmation Page Message</label>
            <trix-editor class="trix-content" angular-trix ng-model="foo" placeholder="Please, rate your recent interaction with our company from 1 to 10, where 8 would be satisfactory."></trix-editor>
        </div>
        <div class="form-block-1">
            <label for="title">Default Email Title</label>
            <input type="text" id="title" placeholder="How did we do?"/>
        </div>
        <div class="form-block-1">
            <label>Default Email Body</label>
            <trix-editor class="trix-content" angular-trix ng-model="foo2" placeholder="Default Email Body"></trix-editor>
        </div>
        <div class="form-block-1">
            <label for="surveyText">Post Survey Call To Action Text</label>
            <input type="text" id="surveyText" placeholder="Thanks! Have you seen our free E-Books?"/>
        </div>
        <div class="form-block-1">
            <label for="surveyURL">Post Survey Call To Action URL</label>
            <input type="text" id="surveyURL" placeholder="http://www.npgroup.net/resources"/>
        </div>


        <div class="form-block-2">
            <label>Upload Company Logo</label>
            <p>Reccomended Dimensions: minimum width 500px</p>

            <div class="item-50-holder">
                <div class="item">
                    <div class="upload-holder">
                        <input type="file" class="custom-file-input">
                    </div>
                </div>
                <div class="item">
                    <button class="button-1 remove">remove logo</button>
                </div>
            </div>
            <div class="img-box">
                <img src="resources/images/img-1.png" alt="logo1"/>
            </div>

        </div>
        <div class="form-block-2">
            <label>Color Picker</label>
            <div class="row">
                <span class="sublabel">Primary Color</span>
            </div>
            <div class="row">
                <color-picker
                        ng-model="color1"
                        options="options"
                        api="api"
                        event-api="eventApi" class="picker-parent"
                        ></color-picker>
            </div>
            <div class="row">
                <span class="sublabel">Secondary Color</span>
            </div>
            <div class="row">
                <color-picker
                        ng-model="color2"
                        options="options"
                        api="api"
                        event-api="eventApi" class="picker-parent"
                        ></color-picker>
            </div>
        </div>
        <div class="form-block-1">
            <span class="sep"></span>
        </div>
        <div class="form-block-2">
            <input type="submit" class="button-1 sbmt1" value="SAVE SURVEY"/>
        </div>
        <div class="form-block-2">
            <input type="button" class="button-1 sbmt2" value="Preview survey"/>
        </div>

    </div>

</div>


