<div class="switch" ng-controller="SettingsCtrl">

    <div class="row">

        <div class="box-100">

            <div class="intro-1">
                <h2 class="title icon-settings">{{ child.pageClass }}</h2>
            </div>

        </div>

    </div>

    <div class="row">

        <div class="box-100">

            <div class="content tab-system settings-parent">

                <div class="item">

                    <div class="tab-box">

                        <a class="tab" ui-sref="settings.settings-general" ui-sref-active="active">
                            <span class="icon-feed">General Settings</span>
                        </a>
                        <a class="tab" ui-sref="settings.settings-api" ui-sref-active="active">
                            <span class="icon-feed">API Connections</span>
                        </a>
                        <a class="tab" ui-sref="settings.settings-survey" ui-sref-active="active">
                            <span class="icon-feed">Survey</span>
                        </a>

                    </div>

                    <div class="tab-content view-animate-container" slimscroll="{slimscrollOption: height='100%'}">

                        <div class="view-animate" ui-view=""></div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

