<div class="switch" slimscroll="{slimscrollOption: height='100%'}" ng-controller="DashboardCtrl">


        <div class="row filter-row">

            <div class="container filters">

                <div class="box-100">
                    <div class="filters-holder responsive-restructure">
                        <div class="item custom-select">
                            <select ui-select2="{ minimumResultsForSearch: -1}" ng-model="select2" data-placeholder="year">
                                <option value=""></option>
                                <option ng-repeat="number in rangeSelect" value="{{number.value}}">{{number.text}}</option>
                            </select>
                        </div>
                        <div class="item">
                            <div class="year">
                                <button type="button" class="left arrow icon-caret-left"></button>
                                <span class="date-result">2016</span>
                                <button type="button" class="right arrow icon-caret-right"></button>
                            </div>
                        </div>
                        <div class="item">
                            <div class="datepick-range">
                                <!-- <md-datepicker ng-model="ctrlInteraction.myDate" md-open-on-focus=""></md-datepicker>-->

                                <div  class="icon-b1 calendar">
                                    <md-date-range ng-model="selectedRange" placeholder="Date Range"></md-date-range>
                                </div> <!--ng-click="showCalendar=true" click-anywhere-but-here="showCalendar=false"-->
                                <!--   <div class="datepick-hide" ng-show="showCalendar"  click-anywhere-but-here="showCalendar=false">
                                      &lt;!&ndash; <span ng-click="closeDP()" class="close"></span>&ndash;&gt;
                                       <mighty-datepicker ng-model="date" options="options" markers="markers"></mighty-datepicker>
                                   </div>-->
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div class="row">

            <div class="container ">

                <div class="box-100">

                    <div class="intro-1">
                        <h2 class="title icon-star">Overview</h2>
                    </div>

                </div>

            </div>

        </div>

        <div class="row bg-grey">

            <div class="container overview" >

                <div class="box-25" ng-repeat="row in overview">

                    <div class="content module-1">

                        <h3 class="num {{row.activeclass}}">
                            {{row.number}}
                        </h3>

                        <div class="title">{{row.title}}</div>

                    </div>

                </div>
            </div>

        </div>



        <div class="row">

            <div class="container">

                <div class="box-100">

                    <div class="intro-1">
                        <h2 class="title icon-star">Satisfaction</h2>
                    </div>

                </div>

            </div>

        </div>

        <div class="row bg-grey">

            <div class="container  satisfaction">
                <div class="box-33" ng-repeat="row in satisfaction">

                    <div class="content module-1 link">

                        <div class="num">
                            <div class="percent">
                                <div class="c100 {{row.fillClass}} {{row.class}}">
                                    <span>{{row.value}}</span>
                                    <div class="slice">
                                        <div class="bar"></div>
                                        <div class="fill"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="title {{row.color}}">{{row.valueTitle}}</div>

                    </div>

                </div>

            </div>

        </div>

        <div class="row">

            <div class="container">

                <div class="box-100">

                    <div class="intro-1">
                        <h2 class="title icon-star">Active Clients</h2>
                    </div>

                </div>

            </div>

        </div>

        <div class="row bg-grey">

            <div class="container clients">
                <div class="box-25"  ng-repeat="row in clients">
                    <div class="content module-1 link">

                        <div class="action">

                            <div class="icon-info {{row.class}}"></div>

                            <div class="icon-b1 interaction"></div>

                        </div>

                        <div class="thumb">

                            <img src="{{row.src}}"/>

                        </div>

                        <div class="name">{{row.name}}</div>

                        <div class="info-bar">

                            <div class="bar green"></div>

                            <div class="bar red"></div>

                            <div class="bar yellow"></div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

</div>


