
            <div class="inner" ng-controller="DescriptionPopCtrl as ctrl">
                <div class="container">
                    <div class="box">
                        <div class="content">
                            <div class="icon-b1 cls icon-close-no-circle pop-2" ng-click="closePopup2()"></div>
                            <div class="form" flow-init>
                                <h3 class="title">Add Description</h3>
                                <p class="subtitle">Fill out the fields below, then click submit to update item</p>

                                <div class="form-block-2">
                                    <label>Load icon</label>
                                    <div flow-init="{target: '/upload'}"
                                         flow-files-submitted="$flow.upload()"
                                         flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
                                         flow-file-success="$file.msg = $message">

                                        <div class="upload-holder ">
                                            <div class="file-wrap">
                                                <input type="file" ng-click="showTip=true"  class="custom-file-input" flow-btn>
                                            </div>
                                            <span class="btn" ng-hide="showTip" flow-btn>Upload File</span>
                                            <div class="filename">
                                                <table class="tbl">
                                                    <tr ng-repeat="file in $flow.files">
                                                        <td>
                                                                <span class="name">
                                                                {{file.name}}
                                                                </span>
                                                        </td>
                                                        <td>{{file.msg}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <img class="upload-img" flow-img="$flow.files[0]" />
                                    </div>

                                </div>
                                <div class="form-block-2">
                                    <label>value</label>
                                    <select name="val" ui-select2="select2Config" ng-model="selectVal" data-placeholder=" " minimumResultsForSearch="Infinity" maximumSelectionSize="1" >
                                        <option value=""></option>
                                        <option ng-repeat="val in rangeSelectValue" value="{{val.value}}">{{val.text}} {{val.text2s}}</option>
                                    </select>
                                </div>


                                <div class="form-block-1">
                                    <label>description</label>
                                    <textarea name="description" id="description" cols="30" rows="10" placeholder="Type description here..."></textarea>
                                </div>
                                <div class="form-block-1">
                                    <input type="submit" class="button-1" value="SAVE"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
