/* Brand Colors ------------------------------------------------*/

$primary-color: #09253c;  /*---- Dark Blue ---*/
$secondary-color: #0083f2; /*---- Orange ---*/
$font-color: #09253c; /*--- Dark Blue ---*/
$placeholder: #545454; /*--- Dark Grey ---*/

$color-1: #2eba87; /*--- Green ---*/
$color-2: #ffc600; /*--- Yellow ---*/
$color-3: #d40808; /*--- Red ---*/

$bg-grey-1: #fafafa;
$bg-grey-2: #f0f0f0;
$bg-grey-border: #e0e0e0;

$outline: #59aef7;
$type2: #59aef7;
$type3: #f5d4a8;

.bg-grey {
    color: $font-color;
    
    .content {
        border: 1px solid $bg-grey-border;
    }
    
}

.green-set {
    color: $color-1;
    background-color: $color-1;
}

.yellow-set {
    color: $color-1;
    background-color: $color-1;
}

.red-set {
    color: $color-1;
    background-color: $color-1;
}