.form {
    width: 100%;
    height: auto;
    position: relative;
    border: none;
    margin: auto;
    @include box-treatment;
    @include flexbox;
    @include flex-wrap(wrap);
    padding: 10px;
&:-moz-placeholder {color:transparent;}
&::-moz-placeholder {color:transparent;opacity:1;}
&::-webkit-input-placeholder {color:transparent;}
&:-ms-input-placeholder {color:transparent;}

    input[type="text"],input[type="password"], textarea, select {
        width: 100%;
        padding: 0 20px;
        height: 50px;
        background-color: white;
        border: 1px solid $bg-grey-border;
        @include border-radius(0);
        @include box-treatment;
        font-size: 16px;
        font-family: 'open-sans', Arial, sans-serif;
        font-weight: 400;
        -webkit-appearance: none;

        &:focus {
            outline:none;
          //  border-color: $bg-grey-border;
          &:-moz-placeholder {color:transparent;}
          &::-moz-placeholder {color:transparent;opacity:1;}
          &::-webkit-input-placeholder {color:transparent;}
          &:-ms-input-placeholder {color:transparent;}
          border-color: $font-color;
        }

        &:hover {
        }

    }
  .select2-container .select2-choice > .select2-chosen{
    font-size: 16px;
  }
  .select2-results li{
    font-size: 16px;
  }

    input[type="radio"], input[type="checkbox"] {
        width: 100%;
        padding: 10px 15px;
        background-color: white;
        border: 1px solid red;
        @include border-radius(0);
        @include box-treatment;
        font-weight: 300;

        &:focus {
            outline:none;
        }

        width: auto;
    }

    input[type="submit"] {
        @include border-radius(0);
        outline: none;
        margin: 10px 0;
        margin-left: auto;
    }

    input[type="text"].approved {
        border-color: green;
        color: $primary-color;
    }

    input[type="text"].denied {
        border-color: red;
        color: $primary-color;
    }

    textarea {
        min-height: 150px;
      padding: 20px;
      resize: none;
    }

    label {
        width: auto;
        display: inline-block;
        padding: 5px 5px;
        font-weight: 400;
       // font-size: 0.9em;
      @include font-size(16);
        @include box-treatment;
      font-family: 'open-sans', Arial, sans-serif;
    }

    @include placeholder {
        font-weight: 300;
        color: $font-color;
      // font-size: 0.9em;
      @include font-size(16);
    }

    .form-intro {
        width: 100%;
        height: auto;
        position: relative;
        border: none;
        @include box-treatment;

        padding: 10px;

    }

    .form-group-1 {
        width: 100%;
        height: auto;
        position: relative;
        border: none;
        @include box-treatment;
        @include flexbox;
        @include flex-wrap(wrap);
        @include align-items(flex-end);
    }

    .form-group-2 {

        @extend .form-group-1;
        width: 50%;

        @include breakpoint(mobile-large) {
            width: 100%;
        }
    }

    .form-block-1 {
        width: 100%;
        height: auto;
        @include box-treatment;
        padding: 5px;
    }

    .form-block-2 {
        @extend .form-block-1;

        width: 50%;

        @include breakpoint(tablet) {
            width: 100%;
        }
    }

    .form-block-3 {
        @extend .form-block-1;

        width: 25%;

        @include breakpoint(desktop-small) {
            width: 50%;
        }

        @include breakpoint(mobile-large) {
            width: 100%;
        }

    }

    .form-block-4 {
        @extend .form-block-1;

        width: 33.3333%;

        @include breakpoint(desktop-small) {
            width: 50%;
        }

        @include breakpoint(mobile-large) {
            width: 100%;
        }

    }

    .form-block-5 {
        @extend .form-block-1;

        width: 75%;

        @include breakpoint(desktop-small) {
            width: 50%;
        }

        @include breakpoint(mobile-large) {
            width: 100%;
        }

    }

    .message-box-1 {
        background-color: $primary-color;
        width: 100%;
        padding: 25px;
        margin: 5px 0px;
        text-align: center;
        @include box-treatment;
        display:inline-block;
        color: white;

        h1, h2 , h3, h4, h5, h6, p, a {
            color: white;
        }
    }

    .message-box-2 {
        background-color: $primary-color;
        width: 100%;
        padding: 25px;
        margin: 5px 0px;
        text-align: center;
        display:inline-block;
        @include box-treatment;
        color: white;

        h1, h2 , h3, h4, h5, h6, p, a {
            color: white;
        }

    }

}

.module-form-1 {

    padding: 10px;
    width: 100%;
    height: auto;
    max-width: 900px;
    margin: auto;

}

.select2-results{
  padding: 0;
  margin: 0;
}

.select2-results li{
  margin: 0;
  padding: 0 20px;
  text-transform: capitalize;
}
.select2-results li:before{
  display: none;
}

.select2-container .select2-choice{
  background-image: none;
  height: 50px;
  line-height: 50px;
  background: #fff;
  @include border-radius(0);
  padding-left: 0;
}
.select2-container .select2-choice .select2-arrow{
  border-left: 1px solid $bg-grey-border;
  background-image: none;
  @include border-radius(0);
  background: #fff;
}
.select2-results{
  margin: 0;
}


.select2-container .select2-choice > .select2-chosen{
  line-height: 50px;
  display: block;
  max-width: 150px;
  color: $font-color;
}
.select2-drop.select2-drop-above.select2-drop-active{
  @include border-radius(0);
  border-color: $font-color;
  background: #fff;
  box-shadow: none;
}
.select2-dropdown-open.select2-drop-above .select2-choice{
  border-color: $font-color;
  @include border-radius(0);
  background-image: none !important;
}
.select2-container .select2-choice{
  width: 100%;
  @include box-treatment;
  border: 1px solid $bg-grey-border;
  background: #fff;
  margin: 0;
  height: 50px;
  // font-size: 0.9em;
  @include font-size(16);
  padding: 0 40px 0 20px;
  color: $font-color;
  @include border-radius(0);
  font-family: $brand-font-1;
  font-weight: 400;
  text-transform: capitalize;
  box-shadow: none!important;
  &:focus{
    border-color: $font-color;
  }
}
.select2-results .select2-result-label{
  @include font-size(17);
  font-family: $brand-font-1;
}
.select2-container-active .select2-choice{
  border-color: $font-color;;
}
.select2-container .select2-choice .select2-arrow b{
  border-color: $primary-color transparent transparent transparent;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  margin-left: -20px;
  margin-top: -4px;
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  &:before{
    content:'';
    border-color: #fff transparent transparent transparent;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    margin-left: -10px;
    margin-top: -13px;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.select2-dropdown-open .select2-choice .select2-arrow b{
  border-color: transparent transparent $primary-color transparent;
  border-width: 0 10px 10px 10px;
  &:before{
    @include transform(rotate(180deg));
    margin-top: 3px;
  }
}
.select2-container .select2-choice .select2-arrow{
  background: none;
  height: 100%;
  position: absolute;
  right:0;
  top:0;
  width: 20px;
  border: none;
}
.select2-results li{
  margin: 0;
  padding: 0;
  // font-size: 0.9em;
  @include font-size(16);
  font-family: $brand-font-1;
  &:before{
    display: none;
  }
}
.select2-results .select2-result-label{
  padding: 0;
  // font-size: 0.9em;
  @include font-size(16);
  font-family: $brand-font-1;
  font-weight: 400 !important;
}
.select2-results .select2-highlighted{
  background: $bg-grey-border;
  .select2-result-label{
    color: $secondary-color;
  }
}
.jspScrollable{
  width: 100% !important;
}
.select2-drop{
  @include border-radius(0);
  box-shadow: none;
  border-color: $font-color;
}
.select2-results{
  margin: 0;
  width: 100% !important;
  padding: 0;
}
.select2-container .select2-choice > .select2-chosen{
  margin-right: 0;
  height: 50px;
  text-align: left;
}
.jspPane{
  padding: 0 !important;
}
.select2-container{
  width: 100%;
  margin: 0;
}
.select2-drop{
  border-top: 1px solid $font-color;
}
.select2-results .select2-result-label{
  margin: 0;
  padding: 14px 20px;
  line-height: 1.1;
  font-family: $brand-font-1;
  color: $font-color;
  // font-size: 0.9em;
  @include font-size(16);
  font-weight: 400;
  &:before{
    display: none;
  }
  &:hover{
    color: $secondary-color;;
    background: $bg-grey-border;
  }
}

