/* Global Elements ---------------------------*/

html {
    height: 100vh;
    width: 100%;
    position: relative;
   // font-size: 18px;
    @include opacity(0);
    font-size: 62.5%;  // don't change that to use rems
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    @include box-treatment;
}

body {
    overflow: hidden;
  &.active{
    overflow: visible;
  }
}
.w1{
  display: block;
  height: 100%;
  overflow: hidden;
}
.slimScrollBar{
  background: rgb(251, 114, 0) !important;
  width: 3px !important;
}

//-----Module System------------------------//

/*rows base stylings & Settings --------------*/

.row {
  width: 100%;
  height: auto;
  position: relative;
  @include box-treatment;
  z-index: 1;
  overflow: visible;
  padding: 5px 0;

  >.container {

    z-index: 2;
    @include flexbox;
    @include flex-wrap(wrap);
    @include box-treatment;

    &:before, &:after {
      display: none !important;
    }

  }

} /*---Primgry settings --------*/

/*boxes used to build rows ------------------*/

div[class^='box-'], div[class*='box-']{
  vertical-align: middle;
  height: auto;
  @include flexbox;
  @include flex-wrap(wrap);
  //@include flex-grow(1);
  border-color: inherit;
  margin: 0;
  padding: 5px;
  @include box-treatment;

  .icon {
    width: 70px;
    height: auto;
    display: inline-block;
    margin: 15px;
    position: relative;
    text-align: center;

    svg {
      width: 100%;
      height: auto;
      fill: inherit;
    }

    img {
      width: 100%;
      height: auto;
    }

  }


  .content {
    z-index: 1;
    @include box-treatment;
    @include flexbox;
    @include flex-wrap(wrap);

    div {
      position: relative;
    }

    .twitterwidget {
      min-width: 1px !important;
    }

    iframe {
      min-width: 100px !important;
    }
  }

}

.box-25 {
  width: 25%;
  @include breakpoint(desktop-small) {
    width: 33.3333333333%;
  }

  @include breakpoint(tablet) {
    width: 50%;
  }

/*  @include breakpoint(mobile) {
    width: 100%;
  }*/
}

.box-33 {
  width: 33.3333333333%;
  @include breakpoint(mobile) {
    width: 100%;
  }
}

.box-40 {
  width: 40%;

  @include breakpoint(tablet) {
    width: 50%;
  }

  @include breakpoint(mobile-large) {
    width: 100%;
  }

}

.box-50 {
  width: 50%;

  @include breakpoint(mobile-large) {
    width: 100%;
  }

}

.box-60 {
  width: 60%;

  @include breakpoint(tablet) {
    width: 50%;
  }

  @include breakpoint(mobile-large) {
    width: 100%;
  }
}

.box-66 {
  width: 66.66666666666667%;

  @include breakpoint(tablet) {
    width: 100%;
  }
}

.box-75 {
  width: 75%;

  @include breakpoint(mobile-large) {
    width: 100%;
  }

}

.box-100 {
  width: 100%;
}

/*--- Variables & Additions ------------------------------*/

.fullscreen-bg {
  position: absolute !important;
  background-color: inherit;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 2;
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);

  @include breakpoint(mobile) {
    display: none;
  }

  video {

    /* Make video to at least 100% wide and tall */
    min-width: 100%;
    min-height: 100%;

    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;

    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);



  }

  &:after {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block !important;
    @include opacity(0.35);
    content:"";
    z-index: 1;
  }

}

.fw {

  >.container {
    max-width: 100%;
  }
}

.fh {
  min-height: 100vh;
  overflow: hidden;

  .container {
    min-height: 100vh;
  }
}
.pad{
  padding: 2em;
}
.pad-thin {
  padding: 1em 0 !important;

  @include breakpoint(tablet) {
    padding: 0.5em  0 !important;
  }

  @include breakpoint(mobile) {
    padding: 0.3em 0 !important;
  }

}

.pad-thick {
  padding: 4em 0 !important;

  @include breakpoint(tablet) {
    padding: 3em 0 !important;
  }

  @include breakpoint(mobile) {
    padding: 2em 0 !important;
  }

}

.align-top {

  .container {
    @include align-items(flex-start);
  }
}

.align-center {

  .content {

    @include flexbox;
    @include align-items(center);

  }

}

.text-center {

  text-align: center;

}

.bg-image {
  background-image: url('../images/bg-3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include transition-treatment-1;
  fill: white;
  color: white;

  &.link:hover {


  }

  svg {
    fill : white;
  }

  &:after {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block !important;
    @include opacity(0.6);
    content:"";
  }

  p, h1, h2 ,h3, h4, h5, h6, li {

    color: white !important;

  }

  .link-box {
    &:before, &:after {
      background-color: white;
    }
  }

  .button-1 {

    background-color: white;
    color: $primary-color;
    border: none;
  }

}

.bg-image-2 {
  @extend .bg-image;
  background-position: top center;
  &:after {display: none !important;}

}

.bg-fixed {
  background-attachment: fixed;
}

.pattern {

  &:before {
    background-image: url('../images/pattern-1.png');
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block !important;
    content:"";

  }

}

.gradient-1 {
  @include linearGradient(#5e5e5e, #111111);
}

.white-text {

  fill: white;

  h1, h2, h3, h4, h5, h6, a, p, li, {

    color: white;


  }

}

.link-box {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20 !important;
  border: none;
  border-bottom: none !important;
}

.mobile-hide {

  @include breakpoint(mobile) {
    display: none !important;
  }
}

.desktop-hide {

  display: none !important;

  @include breakpoint(mobile) {
    display: block !important;
  }
}

.text-white {
  h1, h2, h3, h4, h5, h6, p, li, em, strong, a {
    color: white;
  }
}


.flex-this {
  @include flexbox;
  @include flex-wrap(wrap);
}


/*page transitions*/
.view-animate-container {
  position:relative;
  height:100% !important;
  overflow:hidden;
}

.view-animate.ng-enter, .view-animate.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

  display:block;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.view-animate.ng-enter {
  opacity: 0;
}
.view-animate.ng-enter.ng-enter-active {
  opacity: 1;
}
.view-animate.ng-leave.ng-leave-active {
  opacity: 0;
}

/*rows transitions*/
@-webkit-keyframes fadeIn { from { opacity:0; bottom:-10px; } to { opacity:1; top: 0; } }
@-moz-keyframes fadeIn { from { opacity:0; top:-10px; } to { opacity:1; top: 0;} }
@keyframes fadeIn { from { opacity:0; top:-10px;} to { opacity:1; top: 0;} }

@-webkit-keyframes fadeInCore { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeInCore { from { opacity:0; } to { opacity:1;} }
@keyframes fadeInCore { from { opacity:0;} to { opacity:1;} }
.intro{
  .row {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.2s;
    -moz-animation-duration:0.2s;
    animation-duration:0.2s;
  }
  .row:nth-child(1) {
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s;
  }
  .row:nth-child(2) {
    -webkit-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
    animation-delay: 0.9s;
  }
  .row:nth-child(3) {
    -webkit-animation-delay: 1.1s;
    -moz-animation-delay: 1.1s;
    animation-delay: 1.1s;
  }
  .row:nth-child(4) {
    -webkit-animation-delay: 1.3s;
    -moz-animation-delay: 1.3s;
    animation-delay: 1.3s;
  }
  .row:nth-child(5) {
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    animation-delay: 1.5s;
  }
  .row:nth-child(6) {
    -webkit-animation-delay: 1.7s;
    -moz-animation-delay: 1.7s;
    animation-delay: 1.7s;
  }
  .row:nth-child(7) {
    -webkit-animation-delay: 1.9s;
    -moz-animation-delay: 1.9s;
    animation-delay: 1.9s;
  }
}

.fade {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeInCore ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeInCore ease-in 1;
  animation:fadeInCore ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.6s;
  -moz-animation-duration:0.6s;
  animation-duration:0.6s;
}

.visualhidden{
  position: absolute;
  left: -999999px;
  top: -999999px;
}

.md-datepicker-input-mask{
  display: none;
}

.no-overflow{
    overflow: visible;
}
.f-l{
  float: left;
}
.f-r{
  float: right;
}