.ie{
  .header .icon-b1::before, .header .icon-b2::before, .header .icon-info::before{
    @include breakpoint(mobile){line-height: 22px;}
  }
  .act-item {
    .hold-3{
      width: 140px;
    }
    .icon-plus::before, .icon-minus::before, .icon-minus::before{
      line-height: 22px;
    }
  }
  .content-box{
    max-width: 888px;
    @include breakpoint(desktop-medium){
      max-width: 695px;
    }
    @include breakpoint(desktop-small){
      max-width: 500px;
    }
    @include breakpoint(tablet){
      max-width: 500px;
    }
    @include breakpoint(mobile){
      max-width:305px;
    }
  }
  &.active .activity-box{
    left: auto;
    right: 0;
  }
  .activity-box{
    @include breakpoint(tablet){
      @include transition(300ms);
      left:100%;
      right: auto;
    }
  }
}

