/* Templates styles ---------------------------*/

.t1 {


    @include box-treatment;
    position: relative;
    width: 100%;
    height: 100%;
    color: $font-color;
    fill: $primary-color;
    font-family: $brand-font-1, sans-serif;
    @include breakpoint(tablet){
      @include transition-treatment_1;
    }
    &.active{
      @include breakpoint(tablet){
        @include transform(translateX(-310px));
      }
      @include breakpoint(mobile){
        @include transform(translateX(-250px));
      }
    }

    .slimScrollDiv, .scroll-wrap, .switch{
      height: 100% !important;
    }

  .switch-child{
    height: calc(100% - 125px);
  }
    .wrapper {

        @include box-treatment;
        position: relative;
        width: 100%;
        height: 100%;
      background-color: $bg-grey-1;
    }

    #main {

        @include box-treatment;
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%;

    }

    .w1  > .container {

        &.fwt {
            width: 100%;
            max-width: 90%;
        }

        @include box-treatment;
        position: relative;
        width: 100%;
        height: 100%;
        overflow: visible;
    }

    .outer {
        @include box-treatment;
        position: relative;
        width: 100%;
        height: 100%;
      max-width: 1408px;
      margin:  0 auto;
       @include flexbox;
        overflow: visible;
      @include justify-content(space-around);
        @include align-items(stretch);


    }







    .scroll-wrap {

        width: 100%;
        padding: 10px 0 !important;
        position: relative;
        @include box-treatment;

    }

}


