$base-font-weight: 400;
$brand-font-1: 'Open Sans', sans-serif;
$brand-font-2: 'Open Sans', sans-serif;

/* Brand Fonts & Treatment -------------------------------------*/

h1 {
    font:{family: $brand-font-1;}
   // font-size: 1.7em;
  @include font-size(30);
    line-height: 1em;
    font-weight: 400;
    margin: 0;
    padding: 0;
    position: relative;
}

h2 {
    font:{family: $brand-font-1;}
  //  font-size: 1.6em;
  @include font-size(28.8);
    line-height: 1.3em;
    font-weight: 400;
    margin: 0;
    padding: 0;
    position: relative;
}

h3 {
    font:{family: $brand-font-1}
   // font-size: 1.5em;
  @include font-size(27);
    line-height: 1.3em;
    font-weight: 400;
    margin: 0;
    padding: 0;
    position: relative;

}

h4 {
    font:{family: $brand-font-1}
   // font-size: 1.4em;
  @include font-size(25.2);
    line-height: 1.3em;
    font-weight: 400;
    margin: 0;
    padding: 0;
    position: relative;
}

h5 {
    font:{family: $brand-font-1}
   // font-size: 1.3em;
  @include font-size(23.4);
    line-height: 1.3em;
    font-weight: 400;
    margin: 0;
    padding: 0;
    position: relative;
}

h6 {
    font:{family: $brand-font-1}
  //  font-size: 1.2em;
  @include font-size(21.6);
    line-height: 1.3em;
    font-weight: 400;
    margin: 0 0 5px 0;
    padding: 0;
    position: relative;
}

p, .p-basic {

    font:{family: $brand-font-1;}
   // font-size: 1em;
  @include font-size(18);
    line-height: 1.5em;
    font-weight: 300;
    margin: 0 0 15px 0;
    padding: 0;
    position: relative;

}

.link {
  @include transition-treatment_1;
  text-decoration: none;

  &:hover, &.hovered{
    text-decoration: none;
  }

  &:active {
    color: inherit;
  }

  &.visited{

  }
}

b{
  font-weight: 800; color: $font-color;
}

a {
    @extend .link;
    outline: none !important;
    position: relative;
    color: $primary-color;

    &:visited{
    //  color: $ligth-color;
  }

}

ul {
  margin: 0;
  list-style: none;
  padding: 10px 0 10px 0;

  li {
      @extend .p-basic;
      text-decoration: none;
      margin: 0 0 5px 0;

      &:before {
        content: "\25CF";
          font-weight: 400;
          padding-right: 20px;
          position: relative;
          color: $primary-color;
      }

  }

}

ol{
  margin: 0;
  padding: 10px 0 10px 0;
  list-style-type: none;
  counter-reset: point;

  li{
      @extend .p-basic;
      text-decoration: none;
      margin: 0 0 5px 0;
      list-style: none;

      &:before {
          counter-increment: point 1;
          content: counter(point)".)";
          font-weight: 600;
          padding-right: 20px;
          position: relative;
          color: $primary-color;
    }

  }

}

em {
  font-style: italic;
    position: relative;
}

strong {
  font-weight: bold;
    position: relative;
}

mark {
  color: $primary-color;
  background: none;
    position: relative;
}

hr {
  margin: 0;
  border-bottom: none;
    position: relative;
}

.button-1 {
    position: relative;
    width: auto;
    height: auto;
    padding: 12px;
    //font-size: 0.9em;
  @include font-size(16);
    background-color: $secondary-color;
    color: white;
    text-align: center;
    font-weight: 400;
    cursor: pointer;
    text-transform: uppercase;
    @include transition-treatment-1;
  &:hover{
    background: $secondary-color;
    opacity: 0.7;
  }

}

