.activity-box {
  @include box-treatment;
  background-color: $bg-grey-2;
  border-left: 1px solid $bg-grey-border;
  width: 310px;
  height: 100%;
  padding: 76px 0 0 0;
  margin: 0;
  @include flex-shrink(0);
  position: relative;
  z-index: 1;

  @include breakpoint(tablet){
    position: fixed;
    right: -310px;
    top: 0;
    z-index: 200;
    margin: 0;
    @include transition(300ms);
  }
  @include breakpoint(mobile){
    width: 250px;
    right: -250px;
  }
  &:before {
    background-color: inherit;
    left: 0;
    top: 0;
    width: 500%;
    height: 100%;
    position: absolute;
    content:"";
  }
  .list-holder{
    height: 100%;
    overflow: auto;
  }
  .holder{
    height: 100%;
  }

  .title-box {
    width: 100%;
    height: 75px;
    padding: 0 15px;
  //  font-size: 1em;
    @include font-size(18);
    font-weight: normal;
    background-color: $bg-grey-2;
    border-bottom: 1px solid $bg-grey-border;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    z-index: 50;
    @include box-treatment;
    @include flexbox;
    @include align-items(center);
  }

  .scroll-wrap {
    padding: 0;
  }

}


.act-item {
  width: 100%;
  height: 95px;
  @include box-treatment;
  @include flexbox;
  @include align-items(center);
  border-bottom: 1px solid $bg-grey-border;
  @include transition-treatment-1;
  @include breakpoint(mobile){
    height: 80px;
  }

  &:hover {
    @include transform(scale(1.02));
    z-index: 10;
    -webkit-box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.15);
  }

  &.newx{
    background-color: $primary-color;
    border-color: rgba(255, 255, 255, 0.1);

    .hold-1, .hold-2 {
      fill: white;
      color: white;
      border-color: rgba(255, 255, 255, 0.1);

      .type, .client, .time {
        color: white;
      }
    }
  }

  .group {
    width: 100%;
    height: 100%;
    @include flexbox;
    @include align-items(center);
    @include box-treatment;
  }

  .hold-1 {
    width: 80px;
    height: 100%;
    padding: 15px;
    @include flexbox;
    @include align-items(center);
    @include box-treatment;
    border-right: 1px solid $bg-grey-border;
    @include breakpoint(mobile){
      width: 60px;
    }

    .svg {
      fill: $secondary-color;
      width: 100%;
      height: auto;
    }

  }

  .hold-2 {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-right: 1px solid $bg-grey-border;
    @include flexbox;
    @include align-items(center);
    @include box-treatment;

    .group {
      @include flex-wrap(wrap);
      height: auto;
    }

    .type {
     // font-size: 0.9em;
      @include font-size(16);
      padding: 0;
      margin: 0;
      width: 100%;
      font-weight: normal;
      color: $primary-color;
      @include breakpoint(mobile){
       // font-size: 0.8em;
        @include font-size(13);
      }
    }

    .client {
     // font-size: 0.8em;

      @include font-size(14.4);
      padding: 0;
      margin: 0;
      width: 100%;
      font-weight: 300;
      color: $secondary-color;
      @include breakpoint(mobile){
       //font-size: 0.7em;

        @include font-size(12);
      }
    }

    .time {
     // font-size: 0.7em;

      @include font-size(12.6);
      padding: 0;
      margin: 0;
      width: 100%;
      font-weight: 300;
      color: $font-color;
      @include breakpoint(mobile){
        //font-size: 0.6em;

        @include font-size(11);

      }
    }

  }

  .hold-3 {
    width: 80px;
    height: 100%;
    padding: 15px;
    border-right: 1px solid $bg-grey-border;
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    @include box-treatment;
    @include breakpoint(mobile){
      width: 45px;
    }
    .icon-plus, .icon-minus, .icon-minus{
      @include breakpoint(mobile){
        width: 20px;
        height: 20px;
        &:before{
          font-size: 14px;
        }
      }
    }
  }
}


.act-date {
  font-weight: bold;
  text-transform: capitalize;
  padding: 10px 15px;
  //font-size: 1em;
  @include font-size(18);
  color: $secondary-color;
  width: 100%;
  border-bottom: 1px solid $bg-grey-border;
}