.content-box {
  @include box-treatment;
  background-color: $bg-grey-1;
  /*width: calc(100% - 190px + 310px);*/
  height: 100%;
  position: relative;
  z-index: 2;
  @include flex-grow(1);
  padding: 76px 10px 0 10px;
  margin: 0;
  max-width: 888px;

  .scroll-wrap {
    padding: 0 10px 100px 10px;
  }
  .overview{
    position: relative;
    z-index: 1;
    .box-25 {
      @include breakpoint(tablet) {
        width: 50%;
      }
    }
  }
  .satisfaction{
    .module-1:before{
      @include breakpoint(mobile){
        display: none;
      }
    }
  }
  .clients{
    .box-25 {
      @include breakpoint(tablet) {
        width: 50%;
      }
    }
  }

}