.wysiwyg {
    width: 100%;
    background-color: white;
    @include box-treatment;

    &.type-2 {
        .item {
            @include flexbox;

            .icon {
                margin: 0 15px 15px 0;
            }
        }
    }

    .item {
        padding: 1.5em 1.5em;
        position: relative;
        z-index: 1;
        width: 100%;
        @include box-treatment;

        .group {
            position: relative;
            width: 100%;
        }

        @include breakpoint(mobile-large) {
            padding: 0.5em 1.5em;
        }

    }

}

.filters{
  position: relative;
  z-index: 2;
}
.filter-row{
  z-index: 5;
  position: relative;
}
.filters-holder {
    width: 100%;
    text-align: center;
    padding: 0;
    @include flexbox;
    @include justify-content(space-between);
    &.right-align{
      @include justify-content(flex-end);
      .item{
        width: auto;
      }
    }
    &.mob-one-line{
      @include breakpoint(mobile){
        @include flexbox;
        @include justify-content(space-between);
        @include align-content(center);
        .item{
          width: 33%;
          font-size: 14px;
          margin-bottom: 0;
          span{
            font-size: 10px;
            margin: 0;
            padding: 0 12px 0 0;
          }
        }
      }
    }
    &.responsive-restructure{
      @include breakpoint(desktop-small){
        @include flex-wrap(wrap);
        .item:nth-child(1), .item:nth-child(2){
          width: 49%;
          margin-bottom: 10px;
        }
        .item:nth-child(3){
          width: 100%;
        }
      }
      @include breakpoint(mobile){;
        .item:nth-child(1), .item:nth-child(2){
          width: 100%;
        }
      }
    }
    @include breakpoint(mobile){
      display: block;
    }
  .custom-select{
    .select2-chosen:before{
      content:'View By ';
    }
    .select2-container .select2-choice .select2-arrow b{
      border-width: 5px 5px 0 5px;
      border-color: $font-color transparent transparent transparent;
      &:before{
        display: none;
      }
    }
    .select2-dropdown-open .select2-choice .select2-arrow b{
      border-color: transparent transparent $font-color transparent;
      border-width: 0 5px 5px 5px;
    }
  }
  .md-select-value{
    border-bottom: none;
  }

  .item{
    width: 32%;
    @include breakpoint(mobile){
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .filter-btn{
    line-height: 22px;
   // font-size: 0.8em;
    @include font-size(14);
    text-transform: uppercase;
    margin-left: 10px;
    display: block;
    padding: 0 40px 0 0;
    position: relative;
    outline: none !important;
    cursor: pointer;
    @include breakpoint(mobile){
      padding: 0 20px 0 0;
    }
    &.active{
      &:after{
        transform: rotate(180deg);
        right: 15px;
        @include breakpoint(mobile){
          right: -5px;
        }
      }
    }
    &:after{
      font-family: 'ceq';
      content: "\e00B";
      display: inline-block;
      position: absolute;
      right: 25px;
      top: 50%;
      line-height: 10px;
      width: 10px;
      height: 10px;
      font-size: 20px;
      margin-top: -5px;
      @include font-size(16);
      @include breakpoint(mobile){
        right: 5px;
      }
    }
  }

  .datepick-range{
    position: relative;
    @include box-treatment();
    .md-select-value .md-select-icon{
      display: none;
    }
    md-date-range{
      width: 100%;
      height: 50px;
      line-height: 48px;
    }
    .icon-b1{
      text-transform: uppercase;
      height: 50px;
     width: 100%;
      margin: 0;
      border: 1px solid $bg-grey-border;
      background: #fff;
      color: $font-color;
     // font-size: 0.8em;
      @include font-size(16);
      padding: 0 0 0 40px;
      @include box-treatment;
      position: relative;
      &:before{
        padding: 0 !important;
      }
      &:hover{
        @include transform(scale(1));
       &:before{
         color: $font-color;

       }
      }
      &:before{
        position: absolute;
        height: 100%;
        width: 40px;
        left:0;
        top:0;
        background: $bg-grey-1;
        border-right: 1px solid $bg-grey-border;
        line-height: 45px;
        @include font-size(18);
      }
    }
  }

  ._md-datepicker-has-triangle-icon{
    position: absolute;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    z-index: 20;
    opacity: 0;
    .md-button.md-icon-button{
      position: absolute;
      left:0;
      top:0;
      height: 100%;
      width: 100%;
    }
  }
  .year{
    width: 100%;
    border: 1px solid $bg-grey-border;
    background: #fff;
    color: $font-color;
    @include font-size(16);
    padding: 0 40px;
    height: 50px;
    line-height: 50px;
    position: relative;
    @include box-treatment;
    button{
      position: absolute;
      top: 0;
      width: 40px;
      height: 100%;
      background: $bg-grey-1;
      border: none;
      @include box-treatment;
      padding: 0;
      &:before{
        line-height: 40px;
      }
      &.left{
        left:0;
        border-right: 1px solid $bg-grey-border;

      }
      &.right{
        right:0;
        border-left: 1px solid $bg-grey-border;
      }
    }
  }
}

.intro-1 {
    width: 100%;
    height: auto;
    position: relative;
    padding: 15px 0;
    background-image: url('../images/pattern-1.png');
    background-position: center;
    background-repeat: repeat-x;
  @include breakpoint(mobile){
    padding: 0;
  }

    .title {
       // font-size: 1em;
      @include font-size(18);
        line-height: 1em;
        padding: 0 15px 0 0;
        position: relative;
        display: inline-block;
        font-weight: 300;
        text-transform: capitalize;
        background-color: $bg-grey-1;
    }

}

.module-1 {
    width: 100%;
    height: auto;
    background-color: white;
    border-color: $bg-grey-border;
    padding: 0;
    margin: 0;
    position: relative;
    @include transition-treatment-1;

    &.link {
        cursor: pointer;

        &:before {
            top: 20px;
            left: 0;
            right: 0;
            margin: auto;
            position: absolute;
            width: 20px;
            height: 3px;
            content: "";
            background-color: $primary-color;
          @include breakpoint(mobile){
            top: 15px;
          }
        }

        &:hover {
            @include transform(scale(1.02));
            z-index: 10;
            -webkit-box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.15);
            -moz-box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.15);
            box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.15);

          .button-1.grey{
            background: $secondary-color;
            color: #fff;
          }
        }

    }
    .button-1.grey{
      width: 100%;
      @include box-treatment;
      background: $bg-grey-2;
      color: $font-color;
    }
    .num {
        width: 100%;
        text-align: center;
       // font-size: 3em;
      @include font-size(54);
        font-weight: bold;
        padding: 45px 10px;
        position: relative;
        background-color: transparent;
        @include box-treatment;
      @include breakpoint(mobile){
        padding: 10px;
      }
      img{
        max-width: 100%;
      }
    }

    .data {
        width: 100%;
        text-align: center;
        padding: 25px 10px;
        background-color: transparent;
        position: relative;
        @include box-treatment;

        img {
            width: 100%;
            height: auto;
            position: relative;
            display: inherit;
        }
    }

    .title {
        width: 100%;
        background-color: $bg-grey-2;
        padding: 8px;
        position: absolute;
        bottom: 0;
        color: $font-color;
        @include font-size(16);
        font-weight: 400;
        text-align: center;
        @include box-treatment;


        &.green {

            background-color: $color-1;
            color: white;

        }

        &.yellow {

            background-color: $color-2;
            color: $font-color;

        }

        &.red {

            background-color: $color-3;
            color: white;

        }
    }

    .name {
        width: 100%;
        height: auto;
        display: inline-block;
        text-align: center;
        padding: 15px 5px;
       // font-size: 0.9em;
      @include font-size(16);
    }

    .thumb {
        width: 100%;
        height: 160px;
        text-align: center;
        position: relative;
      @include breakpoint(mobile){
        height: 80px;
      }

        img {
            width: auto;
            height: auto;
            margin: auto;
            left: 0;
            right: 0;
            @include vertical-align;
            display: inline-block;
            max-width: 80%;
        }
    }

    .action {
        width: 100%;
        height: auto;
        position: relative;
        padding: 2px;
        margin: 0;
        @include flexbox;
        @include justify-content(space-between);
      @include font-size(18);

        .icon-b1.interaction {
            margin: 0 !important;
            padding: 0;
            @include inline-flex;
          @include breakpoint(mobile){
            width: 28px;
            height: 28px;
          }
        }

        .icon-info.arrow-down {
            margin: 0 !important;
            padding: 0;
            @include inline-flex;
        }
        .icon-info{
          @include breakpoint(mobile){
            width: 28px;
            height: 28px;
          }
        }

    }

    .info-bar {
        width: 100%;
        background-color: $bg-grey-2;
        padding: 8px;
        position: absolute;
        bottom: 0;
        color: $font-color;
        font-size: 0.9em;
        font-weight: 300;
        text-align: center;
        @include box-treatment;


        .bar {
            width: 18px;
            height: 3px;
            background-color: black;
            display: inline-block;
            margin: 3px;
            padding: 0;

            &.green {
                background-color: $color-1;
            }

            &.yellow {
                background-color: $color-2;
            }

            &.red {
                background-color: $color-3;
            }
        }

    }
}



