.header {
    width: 100%;
    height: 75px;
    padding: 0;
    background-color: $bg-grey-1;
    border-bottom: 1px solid $bg-grey-border;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    z-index: 1;
    @include box-treatment;

    .container {
        height: 100%;
        width: auto;
        padding: 0 25px;
        @include box-treatment;
        @include flexbox;
        @include flex-wrap(wrap);
        @include align-items(center);
    }

    .search-box {
        margin-right: auto;
    }

    .mini-dash {
        @include flexbox;
        @include flex-direction(row-reverse);
        margin-left: auto;

    }

  .feed{
    display: none;
    &:before{
      font-family: 'ceq';
      content:'\e020';
    }
    @include breakpoint(tablet){
      @include inline-flex;
    }
    &.close:before{
      // font-size: 0.9em;
      @include font-size(16);
      content:'\e01f'
    }
  }
  .icon-b1{
    @include font-size(18);
    @include breakpoint(mobile){
      width: 28px;
      height: 28px;
      margin: 0 1px;
      &:before{
        font-size: 14px;
      }
    }
  }


}
