.interaction-pop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  overflow-y: scroll;
  display: none;
  @include opacity(0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  -webkit-overflow-scrolling: touch;



  .scroll-box {
    width: 100%;
    height: 100%;
    position: absolute;
    @include flexbox;
    @include align-items(flex-start);
  }

  &.open {
    @include flexbox;
    @include align-items(flex-start);
  }

  &:before {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $primary-color;
    content:"";
    @include opacity(0.99);
  }

  .container {
    height: auto;
    padding: 10px;
    margin: 0 auto;
  }

  .box{
    margin: 50px auto;
    max-width: 95%;
    @include flexbox;
    @include justify-content(center);
    @include align-items(stretch);
    @include breakpoint(mobile){
      display: block;
    }
  }

  .content {
    position: relative;
    background-color: white;
    padding: 35px;
    @include box-treatment;
    max-width: 730px;
    @include breakpoint(tablet){
      padding: 10px;
    }
  }

  .close {
    top: 0;
    right: 0;
    margin: 0;
    position: absolute;
    background-color: $secondary-color;

    &:before {
      // font-size: 0.9em;
      @include font-size(16);
      color: white;
    }
  }

  .title {
    padding: 0 5px 15px 5px;
    width: 100%;
    height: auto;
    @include breakpoint(mobile){
      font-size: 20px;
    }
  }
  .subtitle{
    padding: 0 5px;
  }
  input[type="text"], textarea, select {
    &:focus {
      outline:none;
      border-color: $primary-color;
    }
  }
  .hold-picker{

    height: 50px;
    #content{
      width: 100%;
      height: 100%;
      border: 1px solid $bg-grey-border;
      background: none;
      overflow: hidden;
    }
    .result{
      line-height: 48px;
      text-align: center;
      width: 100%;
      font-family: $brand-font-1;
      font-weight: 400;
      color: $font-color;
      //font-size: 0.9em;
      @include font-size(16);
    }
    .init-button{
      position: absolute;
      left:0;
      top:0;
      width: 100%;
      @include box-treatment;
      height: 50px;
      margin: 0;
      opacity: 0;
    }
    md-input-container{margin: 0 !important; padding: 0 !important; width: 100% !important;}
    md-datepicker{
      position: relative;
      width: 100%;
      height: 50px;
      padding: 0;
      margin: 0;
      button{
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        left:0;
        top:0;
      }
      .md-datepicker-input-container{
        border-bottom: none;
        margin: 0;
      }
      .md-datepicker-input-container{
        display: block;
      }
      .md-datepicker-input{
        border: 1px solid $bg-grey-border;
        height: 50px;
        padding: 0 20px;
        width: 100%;
        font-size: 16px;
        @include box-treatment;
        @include border-radius(0);
        -webkit-appearance: none;
      }
    }
  }
  .form .form-block-3{
    @include breakpoint(tablet){
      width: 50%;
    }
  }
  .action-tabs {
    width: 165px;
    height: auto;
    @include box-treatment;
    @include breakpoint(mobile){
      @include flexbox();
      width: 100%;
    }

    .list{
      margin: 0;
      padding: 0;
      @include flexbox;
      @include flex-direction(column);
      @include align-items(flex-start);
      border: 1px solid $bg-grey-border;
      @include breakpoint(mobile){
        @include flex-direction(row);
        width: 100%;
      }
    }

    .item {
      padding: 20px;
      text-align: center;
      width: 100%;
      border-bottom: 1px solid $bg-grey-border;
      cursor: pointer;
      @include box-treatment;
      @include transition-treatment-1;
      background-color: $bg-grey-1;
      margin: 0;
      @include breakpoint(mobile){
        width: 34%;
        padding: 10px;
        font-size: 12px;
        border-bottom: none;
        border-right: 1px solid $bg-grey-border;
      }
      &:last-child{
        border-bottom: 0;
        @include breakpoint(mobile){
          border-right: none;
        }
      }
      &:before{
        display: none;
      }
      &:hover {
        background-color: $secondary-color;

        .icon-int-1 {
          background-color: white;
          color: $secondary-color;
        }

        p {
          color: white;
        }
      }
      &.active{
        color: $secondary-color;
        background-color: white;
        &:hover p{
          color: $secondary-color;
        }
        p{
          color: $secondary-color;
        }
        .icon-int-1 {
          background-color: $secondary-color;
          color: white;
        }
      }

      &:last-child {
        border-right: none;
      }

      .icon-int-1 {
        width: 50px;
        height: 50px;
        @include border-radius(100%);
        font-size: 1em;
        margin: 0;
        background-color: $primary-color;
        color: white;
        @include inline-flex;
        @include justify-content(center);
        @include align-items(center);
        @include transition-treatment-1;
        @include box-treatment;

        &:before {
          color: inherit;
          font-size: inherit;
          content: "\e016";
          font-family: "ceq" !important;
          font-style: normal !important;
          font-weight: normal !important;
          font-variant: normal !important;
          text-transform: none !important;
          line-height: 1;
          vertical-align: bottom;
          padding: 0 5px;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }

        &.inter {
          &:before {content: "\e024";}
        }

        &.event {
          &:before {content: "\e022";}
        }

        &.notes {
          &:before {content: "\e016";}
        }
      }

      p {
        padding: 10px 10px 0 10px;
        font-weight: 400;
        margin: 0;
        @include box-treatment;
      }

    }

  }

  .form {
    padding: 0;
  }

}