.login-pop {
  width: 100%;
  height: 100%;
  left:0;
  top:0;
  position: fixed !important;
  z-index: 100;
  display: none;
  @include opacity(0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;

  .content{
    position: relative;
  }

  &.open {
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
  }


  &:before {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $primary-color;
    content:"";
    @include opacity(0.99);
  }
  .inner{
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    height: 100%;
    width: 100%;
    .container {
      height: 100%;
      margin: 0 auto;
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);
      overflow: visible;
      .box{
        margin: auto;
        width: 100%;
        height: 100%;
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);
        @include breakpoint(mobile){
          display: block;
        }
        .content {
          -webkit-overflow-scrolling: touch;
          width: 100%;
          height: 100%;
          background-color: white;
          position: relative;
          @include box-treatment;
        }
      }
    }
  }


  .cls {
    top: 45px;
    right: 45px;
    margin: 0;
    position: absolute !important;
    z-index: 101;
    background: none;
    @include font-size(30);
    @include breakpoint(mobile){
      top:20px;
      right: 20px;
    }
    &:before {
      color: white;
      padding: 0;
      text-align: center;
      width: 100%;
      display: inline-block;
      height: 30px;
      line-height: 30px;
    }
  }

  .title {
    padding: 0 5px 15px 5px;
    width: 100%;
    height: auto;
    font-weight: 600;
    @include font-size(38);
    span{
      display: block;
      color: $secondary-color;
    }
  }
  .subtitle{
    @include font-size(22);
    font-weight: 300;
  }

  .login-pop-holder{
    @include flexbox;
    height: 100%;
    @include align-items(stretch);
  }
  .login-intro{
    @include flex-basis(50%);
    height: 100%;
    @include flexbox;
    @include align-items(center);
    position: relative;
    padding: 0 3em;
    @include box-treatment;
    @include breakpoint(tablet){
      display: none;
    }
    &:after{
      position: absolute;
      top:0;
      right: 99.9%;
      content:'';
      height: 100%;
      width: 1000%;
      background: #fff;
    }
  }
  .form{
    padding: 0 3em;
    @include box-treatment;
    text-align: center;
    background: $primary-color;
    color: #fff;
    height: 100%;
    @include flex-basis(50%);
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    position: relative;
    @include breakpoint(tablet){
      @include flex-basis(100%);
    }
    @include breakpoint(mobile){
      overflow: auto;
    }
    &:after{
      position: absolute;
      top:0;
      left: 99.9%;
      content:'';
      height: 100%;
      width: 1000%;
      background: $primary-color;
    }

    .form-holder{
      max-width: 350px !important;
      margin: 0 auto;
    }
    .cb-holder{
      text-align: left;
      text-transform: uppercase;
      @include font-size(14);
    }
    .wrp{
      position: relative;
      margin-bottom: 1em;
      @include breakpoint(mobile){
        margin-bottom: 10px;
      }
      span{
        padding: 0;
        border-bottom: none;
        fill: #fff;
        position: absolute;
        left: 0;
        width: 20px;
        height: 20px;
        font-size: 10px;
        font-weight: 300;
        text-align: center;
        line-height: 20px;
        top: 50%;
        margin: -10px 0 0 0;
        &:before{
          padding: 0;
          line-height: 20px;
          font-size: 20px;
        }
      }
    }
    input[type="text"],
    input[type="password"]{
      border-top: none;
      border-left: none;
      border-right: none;
      padding-left: 43px;
      background: none;
      color: #fff;
      @include font-size(18);
      &:hover, &:focus{
        border-bottom-color: $secondary-color;
      }
    }
    input:-moz-placeholder {color:#fff; font-family: $brand-font-2}
    input::-moz-placeholder {color:#fff;opacity:1; font-family: $brand-font-2}
    input::-webkit-input-placeholder {color:#fff; font-family: $brand-font-2}
    input:-ms-input-placeholder {color:#fff; font-family: $brand-font-2}
    label{
      color: inherit;
      @include font-size(14);
      display: inline-block;
      line-height: 22px;
      margin-bottom: 0;
      @include breakpoint(mobile){
        @include font-size(12)
      }
    }
    a{
      color: inherit;
    }

    input[type="submit"]{
      margin: 20px auto;
      border: none;
      width: 100%;
    }
    .footer-group{
      @include font-size(14);
      text-transform: uppercase;
      font-weight: 300;
      line-height: 1;
      &:hover{
        color: $secondary-color;
      }
      span{
        display: inline-block;
        vertical-align: middle;
        @include font-size(14);
      }
      a{
        @include font-size(14);
        color: inherit;
        display: inline-block;
        vertical-align: middle;
        &:after {
          display: inline-block;
          vertical-align: middle;
          font-family: 'ceq';
          content: "\e00d";
          color: $secondary-color;
          margin: 0 0 0 5px;
        }
      }
    }
  }

  .image{
    width: 160px;
    height: 90px;
    .heart {
      fill: #0083f2;
    }
    .d {
      fill: white;
    }
    .x {
      fill: white;
    }
  }
}