.menu-box {
  @include box-treatment;
  background-color: $primary-color;
  width: 190px;
  height: 100%;
  padding: 0;
  margin: 0;
  @include flex-shrink(0);
  position: relative;
  z-index: 1;
  @include breakpoint(mobile){
    width: 50px;
  }


  &:before {
    background-image: url('../images/pattern-2.png');
    background-color: inherit;
    right: 0;
    top: 0;
    width: 500%;
    height: 100%;
    position: absolute;
    content:"";
  }
  .group{
    @include clearfix;
  }

  .h100{
    height: 100%;
  }

  .logo-box {
    width: 100%;
    height: auto;
    padding: 40px 30px;
    position: relative;
    @include box-treatment;
    @include breakpoint(mobile){
      padding: 10px;
    }

    .image {
      width: 100%;
      height: auto;

      .d {
        fill: white;

      }

      .heart {

        fill: $secondary-color;

      }

      .x {
        fill: white;

      }
    }
  }

  .tab {
    width: 85%;
    height: auto;
    padding: 15px 30px;
    float: right;
    position: relative;
    @include box-treatment;
    @include transition-treatment-1;
    background-color: $bg-grey-2;
    border-bottom: 1px solid $bg-grey-border;
    text-align: center;
    color: $font-color;
    background-image: url('../images/shadow1.png');
    background-repeat: repeat-y;
    background-position: 100% 0;
    @include breakpoint(mobile){
      padding: 10px;
    }

    &:hover {
      color: $secondary-color;
      background-position: calc(100% - 5px) 0;
      @include transform(translatex(5px));
    }
    i:before{
      @include breakpoint(mobile){
        padding: 0;
      }
    }
    .mark {
      width: 100%;
      padding: 5px 0;
      position: relative;
      display: inline-block;
     // font-size: 1.2em;
      @include font-size(21.6);
      color: inherit;
    }
    .title {
      width: 100%;
      padding: 5px 0;
      position: relative;
      display: inline-block;
      text-transform: uppercase;
      font-weight: 400;
     // font-size: 0.7em;
      @include font-size(12.6);
      color: inherit;
      @include breakpoint(mobile){
        display: none;
      }
    }

    &.active {
      background-image: none;
      color: $secondary-color;
      background-color: $bg-grey-1;
      @include transform(translatex(0));
      &:hover {
        color: $secondary-color;
        @include transform(translatex(0));
      }
    }

  }

}