.description-pop {
  width: 100%;
  height: 100%;
  left:0;
  top:0;
  position: fixed !important;
  z-index: 100;
  display: none;
  @include opacity(0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  -webkit-overflow-scrolling: touch;

  .content{
    position: relative;
  }

  &.open {
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
  }


  &:before {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $primary-color;
    content:"";
    @include opacity(0.99);
  }
  .inner{
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    height: 100%;
    .container {
      height: 100%;
      padding: 10px;
      margin: 0 auto;
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);
      .box{
        margin: auto;
        max-width: 95%;
        height: 100%;
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);
        @include breakpoint(mobile){
          display: block;
        }
        .content {
          overflow: auto;
          -webkit-overflow-scrolling: touch;
          max-height: 100%;
          background-color: white;
          position: relative;
          padding: 35px;
          @include box-treatment;
          max-width: 730px;
          @include breakpoint(tablet){
            padding: 10px;
          }
        }
      }
    }
  }




  .select2-container .select2-choice{
    @include box-treatment;
    height: 50px;
    text-align: left;
    @include justify-content(flex-start);
  }

  .cls {
    top: 0;
    right: 0;
    margin: 0;
    position: absolute !important;
    z-index: 101;
    background-color: $secondary-color;
    // font-size: 0.9em;
    @include font-size(16);
    &:before {
      color: white;
      padding: 0;
      text-align: center;
      width: 100%;
      display: inline-block;
      height: 45px;
      line-height: 45px;
    }
  }

  .title {
    padding: 0 5px 15px 5px;
    width: 100%;
    height: auto;
    @include breakpoint(mobile){
      font-size: 20px;
    }
  }
  .subtitle{
    padding: 0 5px;
  }
  label{
    text-transform: uppercase;
  }
  .button-1{
    width: 100%;
    border: none;
  }
  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }


  .upload-holder{
    width: 100%;
    padding: 11px 20px;
    height: 50px;
    background-color: white;
    border: 1px solid $bg-grey-border;
    @include border-radius(0);
    @include box-treatment;


    .file-wrap{
      font: 300 0/0 $brand-font-1;
      outline: none;
      width: 140px;
      height: 24px;
      margin: 0 10px 0 0;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      @include breakpoint(mobile){
        width: 100px;
      }
      & * {
        outline: none;
      }
      &:hover:before{
        opacity: 0.7;
      }
      &:before {
        content: 'Choose File';
        display: inline-block;
        padding: 0 12px;
        position: absolute;
        left:0;
        top:0;
        font-size: 17px;
        width: 100%;
        height: 100%;
        line-height: 24px;
        @include box-treatment;
        background-color: $secondary-color;
        color: white;
        text-align: center;
        font-weight: 400;
        cursor: pointer;
        text-transform: uppercase;
        z-index: 1;
        @include transition-treatment-1;
        @include breakpoint(mobile){
          font-size: 10px;
        }
      }
      .custom-file-input{
        opacity: 0;
        position: relative;
        z-index: 2;
        width: 140px;
        height: 24px;
      }
    }


    .btn{
      display: inline-block;
      vertical-align: middle;
      font-size: 17px;
      white-space: nowrap;
      width: 85px;
      text-overflow: ellipsis;
      overflow: hidden;
      @include breakpoint(mobile){
        font-size: 10px;
        width: 60px;
      }
    }
    .filename{
      display: inline-block;
      vertical-align: middle;
      font-size: 17px;
      width: 65px;
      white-space: nowrap;
      overflow: hidden;
      height: 24px;
      line-height: 24px;
      text-overflow: ellipsis;
      @include breakpoint(mobile){
        width: 70px;
        font-size: 10px;
      }
      table, tbody, tr, td {

        width: 100%;
      }
      .name{
        white-space: nowrap;
        width: 65px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
      }
    }
  }
  .upload-img{
    max-width: 100%;
    margin: 10px 0;
  }

  .select2-container .select2-choice > .select2-chosen{
    text-align: center;
    margin: 0;
    max-width: none;
  }
}

.survey{
  padding: 20px 0;
  .form label{
    font-weight: 400;
  }
   input[type="text"], textarea,  select, .trix-content{
     font-weight: 400;
     @include font-size(16);
  }
  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }

  .custom-file-input{
    font: 300 0/0 $brand-font-1;
    height: 50px;
    width: 100%;
    @include box-treatment;
    outline: none;
    & * {
      outline: none;
    }
  }

  .custom-file-input::before {
    content: 'Choose A File';
    display: block;
    padding: 0 12px;
    line-height: 50px;
    background-color: $bg-grey-2;
    border: 1px solid $bg-grey-border;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    @include transition-treatment-1;

    @include breakpoint(mobile){
      font-size: 12px;
      padding: 0 5px;
    }

    &:hover {
      background-color: $primary-color;
    }
  }


  .custom-file-input:hover::before {
    opacity: 0.7;
  }

  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }


  .item-50-holder{
    @include flexbox;
    .item{
      @include flex(1);
    }
  }

  .sep{
    display: block;
    border-bottom: 1px solid $bg-grey-border;
  }

  .img-box{
    @include flexbox;
    height: 250px;
    img{
      width: auto;
      height: 200px;
      margin: auto;
    }
  }

  .remove{
    background: none;
    color: $font-color;
    border: none;
    line-height: 50px;
    width: 100%;
    padding: 0 20px;
    @include box-treatment;
    &:hover{
      color: $secondary-color;
    }
    @include breakpoint(mobile){
      //font-size: 12px;
      @include font-size(12);
      padding: 0 5px;
    }
  }
  .sbmt1{
    width: 100%;
    border: none;
    display: block;
    margin: 10px 0;
    &:hover{
      background: $secondary-color;
      opacity: 0.7;
    }
  }
  .sbmt2{
    width: 100%;
    margin: 10px 0;
    border: none;
    display: block;
    background: $color-1;
    &:hover{
      opacity: 0.7;
    }
  }
  .sublabel{
    font-size: 13px;
  }
}

.tab-system {
  width: 100%;
  height: auto;
  position: relative;
  @include box-treatment;
  &.settings-parent{
    .tab-box .tab{
      padding: 0;
    }
    .tab a{
      @include flexbox;
      text-align: center;
      width: 100%;
      height: 100%;
      @include align-items(center);
      @include justify-content(center);
    }
    .form{
      padding: 0;
    }
  }
  .item {
    width: 100%;
    height: auto;
    position: relative;
    @include box-treatment;
  }

  .tab-box {
    width: 100%;
    height: 80px;
    padding: 5px;
    position: relative;
    @include box-treatment;
    @include flexbox;
    @include flex-wrap(wrap);
    @include breakpoint(mobile){
      height: auto;
      border-top: 1px solid $bg-grey-border;
      border-bottom: 1px solid $bg-grey-border;
    }

    .tab {
      width: auto;
      max-width: 100%;
      border-right: 1px solid $bg-grey-border;
      border-top: 1px solid $bg-grey-border;
      border-bottom: 1px solid $bg-grey-border;
      position: relative;
      background-color: $bg-grey-2;
      padding: 0;
      @include box-treatment;
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);
      @include flex-wrap(wrap);
      @include flex-grow(1);
      cursor: pointer;
      @include transition-treatment-1;

      @include breakpoint(mobile){
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid $bg-grey-border;
        border-right: 1px solid $bg-grey-border;
        border-left: 1px solid $bg-grey-border;
        &:last-child{
          border-bottom: none;
        }
      }
      &.active {
        color: $secondary-color;
        background-color: $bg-grey-1;
        border-bottom: 1px solid transparent;
      }

      &:first-child{
        border-left: 1px solid $bg-grey-border;
        @include breakpoint(mobile){
          border-right: 1px solid $bg-grey-border;
          border-top: 1px solid $bg-grey-border;
          border-bottom: none;
        }
      }
      &:last-child{
        border-right: 1px solid $bg-grey-border;
        @include breakpoint(mobile){
          border-left: 1px solid $bg-grey-border;
          border-bottom: 1px solid $bg-grey-border;
        }
      }

      &:hover {
        color: $secondary-color;
      }

      span {
        //  font-size: 0.8em;
        @include font-size(15);
        line-height: 1em;
        color: inherit;
        font-weight: 600;
        @include breakpoint(mobile){
          @include flexbox;
          @include align-items(center);
          line-height: 1.2em;
          padding: 10px;
          border: none;
        }
      }
    }

  }

  .tab-content {
    width: 100%;
    padding: 0;
    position: relative;
    @include box-treatment;

    .con {
      width: 100%;
      height: auto;
      padding: 10px;
      position: relative;
      @include box-treatment;
      display: none;

      &.active {
        display: block;
      }
    }

  }

}

.intro-item{
  border: 1px solid $bg-grey-border;
  background: #fff;
  @include flexbox;
  @include breakpoint(mobile){
    display: block;
  }
  .name{
    padding: 2em 4em;
    @include justify-content(center);

    border-right: 1px solid $bg-grey-border;
    @include flexbox;
    @include flex-direction(column);
    min-height: 160px;
    text-align: center;
  }
  .img-holder{
    @include flex(1);
    @include flexbox;
    @include align-items(center);
    width: 150px;
    @include breakpoint(mobile){
      width: 100%;
    }
    img{
      display: inline-block;
      margin: 0 auto;
    }
  }
  .title{
    margin: 0;
  }
  .text{
    @include flexbox;
    @include align-items(center);
    padding: 2em;
  }
}


.detail-controll-panel{
  width: 100%;
  a{
    @include flexbox;
    text-align: center;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    @include align-items(center);
    @include justify-content(center);
    position: relative;
  }
  md-checkbox .md-label{
    @include font-size(16);
    font-weight: 400;
  }
  .g-checkbox + label{
    @include font-size(13);
  }
  .box-100{
    @include justify-content(space-between);
    @include align-items(center);
    @include flex-wrap(wrap);
  }
  .item{
    @include flex-basis(49%);
    @include justify-content(space-between);
    @include flexbox;
    @include align-items(center);
    @include flex-wrap(wrap);
    @include breakpoint(desktop-small){
      @include flex-basis(100%);
      &:first-child{
        .subitem{
          @include flex-basis(100%);
        }
      }
    }
    .subitem{
      @include flex-basis(49%);
      @include flexbox;
      @include align-items(center);
      margin-bottom: 0.5em;
    }
  }
  .button-1{
    padding: 0 30px;
    line-height: 50px;
  }
  .g-checkbox + label{
    display: inline-block;
    vertical-align: middle;
    line-height: 22px;
    padding: 0;
  }
  .clearall{
    @include flexbox;
    text-align: center;
    width: 100%;
    height: 100%;
    @include align-items(center);
    @include justify-content(center);
    position: relative;
    display: inline-block;
    @include font-size(16);
    text-transform: uppercase;
    line-height: 50px;
    @include box-treatment;
    background-color: #fff;
    border: 1px solid $bg-grey-border;
    padding: 0 46px 0 0;
    &:after{
      width: 46px;
      position: absolute;
      right:-1px;
      top:-1px;
      height: 100%;
      border: 1px solid $bg-grey-border;
      font-family: 'ceq';
      content: '\E050';
      background-color: $bg-grey-1;
    }
    input[type='reset']{
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top:0;
      opacity: 0;
    }
  }

  .select2-container .select2-choice .select2-arrow b{
    border-width: 5px 5px 0 5px;
    border-color: $font-color transparent transparent transparent;
    &:before{
      display: none;
    }
  }
  .select2-dropdown-open .select2-choice .select2-arrow b{
    border-color: transparent transparent $font-color transparent;
    border-width: 0 5px 5px 5px;
  }
  .custom-style-select{
    width: 100%;
    .select2-chosen:before {
      content: 'SORT BY ';
    }
  }
  .select2-chosen{
    color: #fb7200 !important;
    &:before{
      color: $font-color;
    }
  }
}

.company-list{
  width: 100%;
  ul{
    width: 100%;
  }
  li{
    padding: 1em;
    width: 100%;
    @include box-treatment;
    background-color: #fff;
    border: 1px solid $bg-grey-border;
    @include transition(300ms);
    &:before{
      display: none;
    }
    &:hover {
      @include transform(scale(1.01));
      z-index: 10;
      -webkit-box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.15);
      -moz-box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.15);
      box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.15);
    }
  }
  .sbmt-holder{
    width: 100%;
    padding: 30px 0;
    @include flexbox;
    @include justify-content(flex-end);
    .button-1{
      padding: 0 40px;
      height: 50px;
      line-height: 50px;
      @include breakpoint(tablet){
        width: 100%;
        @include box-treatment;
      }
    }
  }
}