<div class="holder" ng-controller="ActivityBoxCtrl">
    <h3 class="title-box icon-star">

        Activity Feed

    </h3>

    <div class="list-holder">
        <div class="scroll-wrap" slimscroll="{slimscrollOption: height='100%'}">
            <div ng-repeat="row in list">
                <div class="act-date">{{row.name}}</div>

                <a href="#" class="act-item new" ng-repeat="item in row.content">

                    <div class="group">

                        <div class="hold-1">
                            <img class="svg" src="{{item.src}}"/>
                        </div>

                        <div class="hold-2">
                            <div class="group">
                                <h3 class="type">{{item.type}}</h3>
                                <p class="client">{{item.clientname}}</p>
                                <p class="time">{{item.time}}</p>

                            </div>
                        </div>

                        <div class="hold-3">
                            <div class="icon-plus {{item.actionclass}}"></div>
                        </div>

                    </div>

                </a>
            </div>

        </div>
    </div>
</div>
