<div class="container" ng-controller="HeaderCtrl">

    <div class="search-box">

        <div class="icon-b1 search"></div>

    </div>

    <div class="mini-dash">

        <div class="icon-b1 feed" ng-click="sideboard()"></div>

        <div class="icon-b1 lock"></div>

        <div class="icon-b2 interaction pop-1" ng-click="popupshowInteraction()"></div>

        <div class="icon-b1 settings"></div>

        <div class="icon-b1 alert unseen"></div>

        <div class="icon-b1 calendar"></div>

        <div class="icon-b1 icon-log-out" ng-click="popupshowLogin()"></div>


    </div>

</div>