    <div class="container" ng-controller="InteractionPopCtrl as ctrl">



        <div class="box">
            <div class="action-tabs">
                <ul class="list">
                    <li class="item"
                         ng-repeat="tab in tabs"
                         ng-class="{active:isActiveTab(tab.url)}"
                         ng-click="onClickTab(tab)">
                        <div class="icon-int-1 {{tab.ico}}"></div>
                        <p>{{tab.title}}</p>
                    </li>
                </ul>
            </div>
            <div id="mainView" class="content">
                <div ng-include="currentTab"></div>
            </div>
            <script type="text/ng-template" id="one.tpl.html">
                <div id="viewOne">
                    <div class="fade">

                        <div class="icon-b1 close pop-1" ng-click="closePopup1()"></div>

                        <div class="form">
                            <h3 class="title">Add Client Activity</h3>
                            <p class="subtitle">Fill out the fields below, then click submit to log the interaction / event / notes</p>

                            <div class="form-group-1">

                                <div class="form-block-2">
                                    <label>Client</label>
                                    <select name="firstname" ui-select2="{multiple:true}" ng-model="select2" data-placeholder="">
                                        <option ng-repeat="client in rangeSelectClient" value="{{client.value}}">{{client.text}}</option>
                                    </select>
                                </div>

                                <div class="form-block-3">
                                    <label>Date</label>
                                    <div class="hold-picker">
                                        <div class="hold-picker">
                                            <md-content id="content" layout="column" flex ng-app="app" >
                                                <md-button class="init-button md-raised md-warn" ng-click="ctrl.startDate($event)" aria-label="start date">Start Date</md-button>
                                                <div class="result">{{ startDate | date:'dd/MM/yyyy' }}</div>
                                            </md-content>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-block-3">
                                    <label>Time</label>
                                    <div class="hold-picker">
                                        <md-input-container>
                                                <input mdc-datetime-picker date="false" time="true" type="text" id="time" short-time="true"
                                                       show-todays-date
                                                       placeholder=""
                                                       min-date="minDate"
                                                       format="hh:mm a"
                                                       ng-change="vm.saveChange()"
                                                       ng-model="time">
                                        </md-input-container>
                                    </div>
                                </div>

                                <div class="form-block-1">
                                    <label>DX Score</label>
                                    <select name="score" ui-select2="{ minimumResultsForSearch: -1}" ng-model="select2" data-placeholder="10">
                                        <option value=""></option>
                                        <option ng-repeat="number in rangeSelectScore" value="{{number.value}}">{{number.text}}</option>
                                    </select>
                                </div>

                                <div class="form-block-1">
                                    <label>Invite Colleagues</label>
                                    <tags-input ng-model="tags" placeholder="name" >
                                        <auto-complete source="loadTags($query)"></auto-complete>
                                    </tags-input>
                                </div>
                                <div class="form-block-1">
                                    <label>Client Participants</label>
                                    <tags-input ng-model="tags2"
                                                display-property="name"
                                                template="my-custom-template">
                                    </tags-input>
                                </div>
                                <div class="form-block-1">
                                    <label>Description</label>
                                    <textarea rows="4" cols="50"></textarea>
                                </div>


                                <div class="form-block-1">
                                    <div class="button-1">Save</div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </script>

            <script type="text/ng-template" id="two.tpl.html">
                <div id="viewTwo">
                    <div class="fade">
                        <h1>Events</h1>
                        <p>Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu.</p>
                    </div>
                </div>
            </script>

            <script type="text/ng-template" id="three.tpl.html">
                <div id="viewThree">
                    <div class="fade">

                        <div class="icon-b1 close pop-1" ng-click="closePopup1()"></div>

                        <div class="form">
                            <h3 class="title">Add Client Activity</h3>
                            <p class="subtitle">Fill out the fields below, then click submit to log the interaction / event / notes</p>

                            <div class="form-group-1">

                                <div class="form-block-2">
                                    <label>Client</label>
                                    <select name="firstname" ui-select2="{ minimumResultsForSearch: -1}" ng-model="select2" data-placeholder="">
                                        <option ng-repeat="client in rangeSelectClient" value="{{client.value}}">{{client.text}}</option>
                                    </select>
                                </div>

                                <div class="form-block-3">
                                    <label>Date</label>
                                    <div class="hold-picker">
                                        <md-content id="content" layout="column" flex ng-app="app" >
                                            <input type="button" class="init-button md-raised md-warn" ng-click="ctrl.startDate($event)" aria-label="start date"/>
                                                <md-button class="init-button md-raised md-warn" ng-click="ctrl.startDate($event)" aria-label="start date">Start Date</md-button>
                                                <div class="result">{{ startDate | date:'dd/MM/yyyy' }}</div>
                                        </md-content>
                                    </div>
                                </div>

                                <div class="form-block-3">
                                    <label>Time</label>
                                    <div class="hold-picker">
                                        <md-input-container>
                                            <input mdc-datetime-picker date="false" time="true" type="text" id="time2" short-time="true"
                                                   show-todays-date
                                                   placeholder=""
                                                   min-date="minDate"
                                                   format="hh:mm a"
                                                   ng-change="vm.saveChange()"
                                                   ng-model="time">
                                        </md-input-container>
                                    </div>
                                </div>

                                <div class="form-block-1">
                                    <label>Description</label>
                                    <textarea rows="4" cols="50"></textarea>
                                </div>


                                <div class="form-block-1">
                                    <div class="button-1">Save</div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </script>


            <!--tags template-->
            <script type="text/ng-template" id="my-custom-template">
                <div class="tag-template {{data.class}}">
                    <p>
                        <span>{{$getDisplayText()}}</span>
                        <a class="remove-button" ng-click="$removeTag()">×</a>
                    </p>
                </div>
            </script>

        </div>

    </div>


    <script type="text/ng-template" id="/modal.datepicker.html">

        <md-dialog aria-label="" class="md-datepicker" ng-class="{ 'portrait': !$mdMedia('gt-md') }">
            <md-dialog-content layout="row" layout-wrap>

                <div class="leftside-dp-column" layout="column" layout-align="start center">
                    <md-toolbar layout-align="center center" class="md-datepicker-dow md-primary"><span>{{ datepicker.currentMoment.format("dddd") }}</span></md-toolbar>
                    <md-toolbar layout-align="center center" class="md-datepicker-date md-hue-1 md-primary" layout="column">
                        <div class="md-datepicker-month">{{ datepicker.currentMoment.format("MMM") }}</div>
                        <div class="md-datepicker-day">{{ datepicker.currentMoment.format("DD") }}</div>
                        <md-select class="md-datepicker-year" placeholder="{{ datepicker.currentMoment.format('YYYY') }}" ng-model="year" ng-change="datepicker.setYear()">
                            <md-option ng-value="year" ng-repeat="year in yearsOptions">{{ year }}</md-option>
                        </md-select>
                    </md-toolbar>
                </div>

                <div layout="column" layout-align="start center" class="md-datepicker-calendar">
                    <div layout="row" layout-align="space-between center" class="md-datepicker-monthyear">
                        <md-button aria-label="mese precedente" class="md-icon-button prev" ng-click="datepicker.prevMonth()">
                        </md-button>
                        {{ datepicker.currentMoment.format("MMMM YYYY") }}
                        <md-button aria-label="mese successivo" class="md-icon-button next" ng-click="datepicker.nextMonth()">
                        </md-button>
                    </div>
                    <div layout="row" layout-align="space-around center" class="md-datepicker-week-days">
                        <div layout layout-align="center center" ng-repeat="d in datepicker.weekDays track by $index">{{ d }}</div>
                    </div>

                    <div layout="row" layout-wrap class="md-datepicker-days">
                        <div layout layout-align="center center" ng-repeat-start="n in datepicker.getDaysInMonth() track by $index">
                            <md-button aria-label="seleziona giorno" ng-if="n !== false" ng-class="{'md-accent': datepicker.currentMoment.date() == n}" ng-click="datepicker.selectDate(n)">{{ n }}</md-button>
                        </div>
                        <div flex ng-if="($index + 1) % 7 == 0" ng-repeat-end></div>
                    </div>
                    <div class="md-actions" layout="row">
                        <md-button class="button-1" ng-click="datepicker.cancel()" aria-label="cancel">Cancel</md-button>
                        <md-button class="button-1" ng-click="datepicker.confirm()" aria-label="ok">Select</md-button>
                    </div>
                </div>
            </md-dialog-content>

        </md-dialog>
    </script>