<div ng-controller="SettingsGeneralCtrl">

    <form class="form" action="#">
        <div class="row">
            <div class="box-100">
                <div class="container">

                    <div class="intro-1">
                        <h2 class="title icon-star">Client job role</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="container">

                <tags-input ng-model="tags1"
                            replace-spaces-with-dashes="false"
                            display-property="name"
                            replace-spaces-with-dashes="false"
                            template="my-custom-template1"
                            on-tag-clicked="popDescription()">
                </tags-input>

                <script type="text/ng-template" id="my-custom-template1">
                    <div class="tag-template {{data.class}}">
                        <p>
                            <span>{{$getDisplayText()}}</span>
                            <a class="remove-button" ng-click="$removeTag()">×</a>
                        </p>
                    </div>
                </script>

            </div>

        </div>
        <div class="row">

            <div class="container">

                <div class="intro-1">
                    <h2 class="title icon-chat">Types of interactions</h2>
                </div>

            </div>

        </div>
        <div class="row">

            <div class="container">

                <tags-input ng-model="tags2"
                            display-property="name"
                            replace-spaces-with-dashes="false"
                            template="my-custom-template2"
                            on-tag-clicked="popDescription()">
                </tags-input>

                <script type="text/ng-template" id="my-custom-template2">
                    <div class="tag-template {{data.class}}">
                        <p>
                            <span>{{$getDisplayText()}}</span>
                            <a class="remove-button" ng-click="$removeTag()">×</a>
                        </p>
                    </div>
                </script>

            </div>

        </div>
        <div class="row">

            <div class="container">

                <div class="intro-1">
                    <h2 class="title icon-event">Types of events</h2>
                </div>

            </div>

        </div>
        <div class="row">

            <div class="container">

                <tags-input ng-model="tags3"
                            display-property="name"
                            replace-spaces-with-dashes="false"
                            template="my-custom-template3"
                            on-tag-clicked="popDescription()">
                </tags-input>

                <script type="text/ng-template" id="my-custom-template3">
                    <div class="tag-template {{data.class}}">
                        <p>
                            <span>{{$getDisplayText()}}</span>
                            <a class="remove-button" ng-click="$removeTag()">×</a>
                        </p>
                    </div>
                </script>

            </div>

        </div>


    </form>

</div>




