<div  ng-controller="SettingsApiDetailCtrl">

    <div class="row">

        <div class="box-100">

            <div class="intro-item">
                <div class="name">
                    <div class="img-holder">
                        <img src="resources/images/c-logo-5.png" alt="name">
                    </div>
                    <h6 class="title">Harvest</h6>
                </div>
                <div class="text"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolore eveniet iure libero nesciunt possimus quae quis rerum sunt temporibus! Beatae earum esse id illo molestiae molestias quas tenetur vitae.</p></div>
            </div>

        </div>

    </div>

    <div class="row">

        <div class="box-100">

            <div class="intro-1">
                <h2 class="title icon-settings">Client Listing from Harvest</h2>
            </div>

        </div>

    </div>
    <div class="row">
        <form class="form" action="">

            <div class="detail-controll-panel">
                <div class="box-100">
                    <div class="item">
                        <div class="subitem">
                            <md-checkbox  ng-checked="isChecked()" md-indeterminate="isIndeterminate()" ng-click="toggleAll()">SELECT ALL CLIENTS</md-checkbox>
                        </div>
                        <div class="subitem">
                            <a href="#" class="button-1">sync clients</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="subitem">
                            <div class="clearall ">
                                <span>clear all</span>
                                <input type="reset"/>
                            </div>
                        </div>
                        <div class="subitem">
                            <div class="custom-style-select">
                                <select name="val" ui-select2="{ minimumResultsForSearch: -1}" ng-model="select2" data-placeholder="A-Z">
                                    <option value=""></option>
                                    <option ng-repeat="val in rangeSelectValue" value="{{val.value}}">{{val.text}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="box-100">
                    <div class="content company-list">
                        <ul>
                            <li ng-repeat="item in items">
                                <md-checkbox id=" {{ item.id }}" ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                                    {{ item.label }}
                                </md-checkbox>
                            </li>
                        </ul>
                        <div class="sbmt-holder">
                            <a class="button-1" href="#">Sync Clients</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


</div>


